<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.8.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    {% load static %}
    <script src="{% static "assets/js/getcookies.js" %}" ></script>
    <script src="{% static "assets/js/loader.js" %}" ></script>
    <script src="{% static "assets/js/fetch.js" %}" ></script>
    <script src="{% static "assets/js/poper.js" %}" ></script>


</head>
<body>

    <div class="w-screen h-screen bg-slate-900">
        <div class="hero min-h-screen">
            <div class="hero-content flex-col lg:flex-row-reverse w-96">
              <div class="text-center lg:text-left">
                {% comment %} <h1 class="text-5xl font-bold">Login now!</h1> {% endcomment %}
                {% comment %} <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p> {% endcomment %}
              </div>
              
              
              <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <div class="flex justify-center my-2" >
                    <div class="w-auto h-auto rounded-full bg-slate-100">
                        <img class="w-20 h-20 p-3" src="/static/assets/images/evitamin_logo.png">
                    </div>
                </div>


                {% if error %}
                    <p class="mb-3 text-center"><span class="capitalize font-bold text-xs text-red-600">{{error}}</span></p>
                    <button class="btn btn-success  accepted">Try Again</button>
                {% elif link_error %}
                    <p class="mb-3 text-center"><span class="capitalize font-bold text-xs text-red-600">{{link_error}}</span></p>
                {% elif success %}
                    <p class="mb-3 text-center"><span class="capitalize font-bold text-sm text-green-500">{{success}}</span></p>
                    <p class="mb-6 text-center"><span class="capitalize font-bold text-xs text-slate-500">Please wait, You will be redirected to login page!</span></p>
                    <script>
                        setTimeout(()=>{
                            window.location.href="http://localhost:8000/";
                        },3000)
                    </script>
                {% else %}

                    <div class="main_card card-body p-3">
                        {% comment %} {% if error %}
                        {% elif link_error %}
                        {% elif success %}                   
                        {% else %} {% endcomment %}

                            {% if data.is_first_login %}
                            
                                <h1 class="text-center text-xl tracking-wide mb-3">Invitation</h1>
                                <p class="mb-3 text-center text-sm">Hello <span class="capitalize font-bold">{{data.first.name}}</span>, You were invitated to join Evitamin Leam Management Portal, click accept to create password?</p>
                                <button class="btn btn-success accepted text-white">Accept</button>

                            {% endif %}

                        {% comment %} <button class="btn btn-outline decliened">Decline</button> {% endcomment %}
                        {% comment %} {% endif %} {% endcomment %}
                    </div>

                {% endif %}

                <div class="flex justify-center mb-4 w-full">
                    <div>
                        <p class="text-xs" >Back to 
                            <a class="text-blue-500 underline" href="{% url "user_login" %}">Login</a>
                        </p>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>

</body>
<script>
    
    function invitationAccepted(){
        const main_card = document.querySelector('.main_card');
        main_card.innerHTML = `
        <div class="text-center text-lg mt-3 tracking-wide w-full">Create Password</div>
        <form class="card-body p-3" method="POST">
            {% csrf_token %}
            <div class="form-control">
                {% comment %} <label class="label">
                    <span class="label-text text-xs">Password</span>
                </label> {% endcomment %}
                <input type="password" name="password" placeholder="Password" class="input input-bordered text-xs" required />
            </div>
          <div class="form-control">
              {% comment %} <label class="label">
                  <span class="label-text text-xs">Repeat Password</span>
                </label> {% endcomment %}
                <input type="password" name="repeat_password" placeholder="Repeat password" class="input input-bordered text-xs" required />
                {% comment %} <label class="label"> {% endcomment %}
                    {% comment %} <a href="#" class="label-text-alt link link-hover">Forgot password?</a> {% endcomment %}
                    {% comment %} </label> {% endcomment %}
                </div>
                <div class="form-control mt-6">
                    <button class="btn btn-primary submit">Update Password</button>
                </div>
            </form>
        `
    }

    {% comment %} function invitationAccepted(){
        const main_card = document.querySelector('.main_card');
        
        main_card.innerHTML = `

        `
    } {% endcomment %}

    {% if data != 'no data' %}

        console.log("data {{data}}")

        {% if data.is_first_login %}

        const accepted = document.querySelector('.accepted');
        console.log('link_error', accepted)
            {% comment %} const decliened = document.querySelector('.decliened'); {% endcomment %}
            async function resetFirstLogin(){
                try{
                    let a = await ftN('{% url "reset_first_login" user_id=data.id %}', 'POST', { 'Content-Type': 'application/json', 'Authorization': 'Bearer '+getCookies().access}, '' )
                    if (a && a.status === 200) {
                        invitationAccepted();
                    } else {
                        poperFunction(a.status, a.message, false)
                    }
                } catch (e){
                    console.log('error', e)
                }
            }

            accepted.addEventListener('click', resetFirstLogin)
        
        {% else %}
            invitationAccepted()
        {% endif %}

    {% endif %}


        
</script>
</html>