<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.8.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    {% load static %}
    <script src="{% static "assets/js/getcookies.js" %}" ></script>
    <script src="{% static "assets/js/loader.js" %}" ></script>
    <script src="{% static "assets/js/fetch.js" %}" ></script>
    <script src="{% static "assets/js/poper.js" %}" ></script>


</head>
<body>

    <div class="w-screen h-screen bg-slate-900">
        <div class="hero min-h-screen">
            <div class="hero-content flex-col lg:flex-row-reverse w-96">
              <div class="text-center lg:text-left">
                {% comment %} <h1 class="text-5xl font-bold">Login now!</h1> {% endcomment %}
                {% comment %} <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p> {% endcomment %}
              </div>
              
              {% load static %}
              
              <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <div class="flex justify-center my-2" >
                    <div class="w-auto h-auto rounded-full bg-slate-100">
                        <img class="w-20 h-20 p-3" src="/static/assets/images/evitamin_logo.png">
                    </div>
                </div>
                <div class="main_card card-body p-4">

                    <div class="text-center text-lg tracking-wide w-full">Forget Password</div>

                    {% if success %}
                    <form class="card-body p-2" method="POST">
                        <p class="m-1 text-center"><span class="capitalize font-bold text-green-500 text-xs">{{success}}</span></p>

                        <div class="flex justify-center p-3 w-full">
                            <div>
                                <p class="text-xs" >Back to 
                                    <a class="text-blue-500 underline" href="{% url "user_login" %}">Login</a>
                                </p>
                            </div>
                        </div>

                    </form>

                    {% else %}

                        <form class="card-body p-3" method="POST">
                            {% csrf_token %}
                            {% comment %} <div class="form-control">
                                <label class="label">
                                    <span class="label-text">Password</span>
                                </label>
                                <input type="password" name="password" placeholder="Password" class="input input-bordered" required />
                            </div> {% endcomment %}
                            <div class="form-control">
                                {% comment %} <label class="label">
                                <span class="label-text text-xs">Email</span>
                                </label> {% endcomment %}
                                <input type="email" name="email" placeholder="Enter email id" class="input input-bordered text-xs" required />
                                {% comment %} <label class="label"> {% endcomment %}
                                    {% comment %} <a href="#" class="label-text-alt link link-hover">Forgot password?</a> {% endcomment %}
                                    {% comment %} </label> {% endcomment %}
                            </div>
                            <div class="form-control mt-2">
                                <button class="btn btn-primary submit ">Reset Password</button>
                            </div>
                        </form>
                        
                        <div class="flex justify-center pb-3 w-full">
                            <div>
                                <p class="text-xs" >Back to 
                                    <a class="text-blue-500 underline" href="{% url "user_login" %}">Login</a>
                                </p>
                            </div>
                        </div>
                    
                    {% endif %}

                </div>
                
              </div>
            </div>
          </div>
    </div>

</body>
<script>
    
    function invitationAccepted(){
        const main_card = document.querySelector('.main_card');
        main_card.innerHTML = `
        <div class="text-center text-2xl mt-3 tracking-widest w-full">Create Password</div>
        <form class="card-body p-3" method="POST">
            {% csrf_token %}
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password</span>
                </label>
                <input type="password" name="password" placeholder="Password" class="input input-bordered" required />
            </div>
          <div class="form-control">
              <label class="label">
                  <span class="label-text">Repeat Password</span>
                </label>
                <input type="password" name="repeat_password" placeholder="Repeat password" class="input input-bordered" required />
                {% comment %} <label class="label"> {% endcomment %}
                    {% comment %} <a href="#" class="label-text-alt link link-hover">Forgot password?</a> {% endcomment %}
                    {% comment %} </label> {% endcomment %}
                </div>
                <div class="form-control mt-6">
                    <button class="btn btn-primary submit">Update Password</button>
                </div>
            </form>
        `
    }

    {% comment %} function invitationAccepted(){
        const main_card = document.querySelector('.main_card');
        
        main_card.innerHTML = `

        `
    } {% endcomment %}



    const accepted = document.querySelector('.accepted');
    {% comment %} const decliened = document.querySelector('.decliened'); {% endcomment %}

    accepted.addEventListener('click', invitationAccepted)

        
</script>
</html>